.NavLinkActive {
  font-weight: 700;
}

.NavBar {
  width: 100%s;
}

.NavBarList {
  display: flex;
  align-items: center;
  overflow: auto;

  @media screen and (min-width: 700px) {
    justify-content: center;
  }
}

.NavBarList::-webkit-scrollbar {
  display: none;
}

.NavBarListItem {
  margin: 0 10px;
}
