.NavLinkActive {
  font-weight: 700;
}

.NavBar {
  width: 100%s;
}

.NavBarList {
  display: flex;
  align-items: center;
  overflow: auto;
}

.NavBarList::-webkit-scrollbar {
  display: none;
}

.NavBarListItem {
  margin: 0 10px;
}
