html {
  box-sizing: border-box;
  min-width: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  touch-action: manipulation;
}
