.ButtonsBox {
  display: flex;
  flex-direction: row;
  max-width: 250px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Button {
  min-width: 50px;
}

.ProgressParagraph {
  max-width: 250px;
}

.ProgressWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProgressBar::-webkit-progress-value {
  transition: 0.4s ease all;
}
